.nav-bar {
    background: #1D222D;
    width: 7%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 70%;
            height: auto;

            &.logo-subtitle {
                width: 93%;
            }
        }
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
        
        a {
            font-size: 28px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 66px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }
         
            &:hover {
                color: #00C2FF;
                
                svg {
                    opacity: 0;
                }
             
                &:after {
                    opacity: 1;
                }
            }
         
            &:after {
                content: '';
                font-size: 24px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                text-decoration: line-through;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
         
            &:first-child {
                &:after {
                    content: 'HOME';
                }
            }
        }  

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }  

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }
    } 

    .social-icons { 

        display: block;
        position: absolute;
        bottom: 40px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        a {
            margin: 0 6px;
            padding: 7px 0;
            font-size: 22px;
            line-height: 16px;

            &:hover svg {
                color: #00C2FF;
                scale: 1.2;
                filter: drop-shadow(-1px 1px 0.75rem #00C2FF);
            }
        }
    }
}